<div class="space-y-6 relative h-[85vh] ">
    <h3 class="text-gray-600 bold text-xl">Task :</h3>

    <div class="flex flex-col h-full justify-between gap-2 mt-2">
      <div class="flex flex-col gap-2">
        <input name="taskTitle" nz-input [(ngModel)]="task.title"  placeholder="Task title" class="h-10" />
            <textarea name="taskDescription"  [(ngModel)]="task.description" nz-input rows="2" placeholder="write any thing"></textarea>
        <div class="flex items-center  gap-2 space-x-2">
            <h4 class="text-gray-500 semi-bold ">Categories </h4>
            <nz-select  name="categoriesPick"  [(ngModel)]="selectedCategoryId"            [nzSuffixIcon]="customIcon">
              <nz-option 
              
              *ngFor="let cat of catItems" 
              [nzValue]="cat.id" 
              [nzLabel]="cat.name">
            </nz-option>
              </nz-select>
              <ng-template #customIcon>
                <mat-icon svgIcon="down" class="pl-2"></mat-icon>
              </ng-template>
        </div>
        <div class="flex items-center  gap-2 space-x-3">
            <h4 class="text-gray-500 semi-bold ">Due date </h4>
            <nz-date-picker  name="pickerDate" [nzPlacement]="'bottomLeft'" [(ngModel)]="task.created_at" (ngModelChange)="onChange($event)"></nz-date-picker>
            <ng-template #customIcon>
                <mat-icon svgIcon="down"></mat-icon>
              </ng-template>
        </div>
        <!-- <div class="flex items-center  gap-2 space-x-3">
            <h4 class="text-gray-500 semi-bold ">Tags </h4>
            <nz-select  [nzMode]="'multiple'"  [(ngModel)]="selectedCategoryId" >
              <nz-option 
              
              *ngFor="let tag of tags" 
              [nzValue]="tag.id" 
              [nzLabel]="tag.name">
              <div class="flex items-center gap-2">
                <span 
                  class="inline-block w-3 h-3 rounded-full"
                  [ngClass]="tag.color"
                ></span>
                <span class="text-gray-700 text-sm">{{ tag.name }}</span>
]              </div>
            </nz-option>
              </nz-select>
              <ng-template #customIcon>
                <mat-icon svgIcon="down" class="pl-2"></mat-icon>
              </ng-template>
        </div> -->
      </div>

        <div class="flex justify-between b space-x-5 items-center">
            <button (click)="task.id!=0 ? deleteCurrentTask(task.id??0) : cleanField()"   class="px-5 py-2 w-full border-[1px] border-gray-300 rounded-[5px] regular hover:bg-gray-400 ">{{task.id!=0 ? 'Delete task' :'Clear' }}</button>
            <button
            data-testid="save-btn"
            (click)="saveTask()"
            [ngClass]="!task.title || !task.description ? 'cursor-not-allowed':'cursor-pointer'"
            [disabled]="!task.title || !task.description"
            [ngStyle]="{ 'background-color': '#1890ff', color: 'white' }"
            class="px-5 py-2 regular w-full rounded-[5px]">
            Save changes
          </button>
        </div>
    </div>
</div>